* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather';
    background-image: linear-gradient(120deg, #2525a7, #04157b);
    min-height: 100vh;
    color: #ffe100;
}

h1{
    font-size: 55px;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

form input{
    width: 300px;
}

form input, form button{
    padding: 10px;
}

form input, form button{
    border: none;
}

form button{
    color: #04157b;
    background: white;
    transition: all 0.3s ease;
    padding: 4.2px;
    width: 45px;
}

form button:hover{
    background: #04157b;
    color: #ffe100;
    cursor: pointer;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 10px;
    background: white;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.delete-btn, .completed-btn{
    background: #ffe100;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 10px;
}

.completed-btn{
    background: rgb(73, 204, 73);
}

.todo-item{
    padding: 0px 5px;
}

.fa-trash, .fa-check{
    pointer-events : none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-apperance: none;
    -moz-appareance: none;
    outline: none;
    box-shadow: none;
    border: none;
    color: #16166f;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #16166f;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3 ease;
}

.select:hover::after{
    background: white;
    color: #16166f;
}