.header {
    display: flex;
    margin-top: 20px;
}

.apple img {
    width: 50px;
}

.apple {
    flex: 1;
    display: flex;
    justify-content: left;
    padding-left: 5%;
}

.aacc {
    flex: 1;
    display: flex;
    justify-content: center;
}

.aacc button {
    border: none;
    background-color: white;
    margin-left: 4%;
    margin-right: 1%;
    font-family: "Roboto", system-ui;
}

.aacc button:hover {
    border-bottom: solid;
}

.aacc button:focus {
    border-bottom: solid;
}

.main {
    margin-top: 100px;
    display: flex;
    background-image: url(PNG/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
    background-size: 100%;
    padding: 50px 0px 100px 90px;
}

.bonjour button {
    border: none;
    background-color: #0ac4af;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: bold;
}

.alex {
    font-size: 60px;
    color: rgb(65, 65, 65);
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    margin-top: -50px;
    margin-bottom: -55px;
}

.avotre {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    color: rgb(65, 65, 65);
    font-size: 25px;
}

.infos {
    flex: 1;
    margin-top: 5%;
}

.photo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.icone img {
    width: 16px;
    margin-top: 18px;
    margin-right: 15px;
}

.icone {
    display: flex;
    font-family: "Roboto", system-ui;
    color: rgb(65, 65, 65);
}

.photo img {
    width: 550px;
}
  
.logo {
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
}

.logo img {
    width: 16px;
    margin-top: 18px;
    margin-right: 38px;
}

.roux {
    flex: 1;
    justify-content: right;
    display: flex;
    margin-right: 5%;
}

.roux img {
    width: 90%;
}

.bloc {
    flex: 1;
}

.footer {
    display: flex;
    margin-top: 10%;
}

.apropos {
    font-size: 33px;
    color: rgb(65, 65, 65);
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
}

.para {
    font-family: "Roboto", system-ui;
    color: rgb(65, 65, 65);
}

.boutton button{
    background-color: white;
    margin-left: 2%;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 20px;
    border: solid;
    border-color: #0bceaf;

}

.boutton {
    font-family: "Roboto", system-ui;
}

.CV button {
    border: none;
    background-color: #0ac4af;
    color: white;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 5%;
}

.téléchargement {
    width : 8%;
    margin-left: 7px;
}

